.love{

    /*background-color: red;*/

}



.saran{
  
    color: green;

}

.gopi{

    color: red;
    
}

.papa{

    font-size: 20px;
    color: blue;
    background-color: yellow;
    height: 50px;
    width: 400px
}

.one{

     color: brown;   

}

