body{

    background-color: blue;
    margin: 0;
    font-family: sans-serif;
    
}

#form{
    width: 500px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;
    
}

h1{
    text-align: center;
    color: blueviolet;

}

#form button{
     background-color: chartreuse;
     color: black;
     border: 2px solid black;
     border-radius: 5px;
     padding: 10px;
     margin: 20px 0px;
     cursor: pointer;
     font-size: 20px;
     width: 100%;

}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group input{

    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid green;
}

.input-group input:focus{
    outline: 0;
}

.error{
    color: red;
    font-size: 15px;
    margin-top: 5px;
}

.input-group.success input{
    border-color: yellow ;
}

.input-group.error input{
    border-color: red;
}